<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">


 var unlink = function(id){
     $.get("/books/book/unlink/"+id, "", function(message){
       $('#wrote'+id).remove();
     });
 }

 var link = function(id,authname){
     $.get("/books/book/link?auth=" + id + "&book="+$('#book_id').html(), "", function(message){

       $('#authorsdiv').append("<span id=\"wrote" + message + "\">" + authname + " <a href=\"javascript:void(0)\" onclick=\"unlink("+message+")\">remove</a><br></span>");
     });
 }

 var updateBook = function(){
     $.get("/books/book/modify/" + $('#book_id').html() +"?title="+$('#title').val()+"&pub="+$('#publisher').val(), "", function(message) {
          $('#book_id').html(message);
     });
 }
  
</script>

<table border="1" style="border-collapse:collapse">
    <tr>
       <th></th>
       <th></th>
    </tr>
       <tr>
            <td>Book ID</td>
            <td><span id="book_id">{{book.book_id}}</td>
       </tr>
       <tr>
            <td>Title</td>
            <td><input type="text" id="title" value="{{book.title}}" onchange="updateBook()" /></td>
       </tr>
       <tr>
            <td>Publisher</td>
            <td>
               <select id="publisher" onchange="updateBook()">
                 {% for pub in publisher_list %}
                    <option value="{{pub.pub_id}}" 
                    {% if pub.pub_id == book.publisher.pub_id %}
                       selected>
                    {% else %}
                       >
                    {% endif %}
                      {{pub.name}}</option> 
                 {% endfor %}
            </select>
            </td>
       </tr>
       <tr>
            <td>Author(s)</td>
            <td >
               <div id="authorsdiv">
                 {% for wrote in wrote_list %}
                   <span id="wrote{{wrote.id}}">{{wrote.author.name}} <a href="javascript:void(0)" onclick="unlink({{wrote.id}})">remove</a><br></span>
                 {% endfor %}
               </div>
            </td>
       </tr>
</table>
<table>
   {% for auth in author_list %}
     <tr><td> {{auth.name}} <a href="javascript:void(0)" onclick="link({{auth.auth_id}},'{{auth.name}}')">add</a></td></tr>
   {% endfor %}

</table>
