<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

  var deleteBook = function(id){
     $.get("/books/book/deletebook/"+id, "", function(message) {
          $('#message').html(message);
          $('.row'+id).remove();
     }).fail();
  }

  var sortTable = function(orderby){
     $.get("/books/index/orderby/"+orderby+"?search="+$('#searchtext').val() , function(message) {
          $('#booklist').html(message);
     }).fail();
  }

  var executeSearch = function(){
     $.get("/books/index/orderby/title?search="+$('#searchtext').val(), function(message) {
          $('#booklist').html(message);
     }).fail();      
  }

  $(document).ready(function(){
     $('#booklist').html("loading");
     $.get("/books/index/orderby/title", function(message) {
          $('#booklist').html(message);
     }).fail();
  });

</script>

<table>
  <tr>
    <td><a href="/books/auth">Add/Edit Authors</a></td>
    <td><a href="/books/pub">Add/Edit Publishers</a></td>
    <td><a href="/books/book/add">Add New Book</a></td>
  </tr>
</table>


<input type="text" id="searchtext" onchange="executeSearch()"/> <button type="button" id="btnSearch" onclick="executeSearch()">Search</button>
<div id="booklist"></div>
<div id="message"></div>
